* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --darkblue: hsl(218, 44%, 22%);
    --grayishblue: hsl(220, 15%, 55%);
    --lightGray: hsl(212, 45%, 89%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-family: 'Outfit', sans-serif;
    font-size: 62.5%;
}
body {
    align-content: center;
    background-color: var(--lightGray);
    display: grid;
    height: 100vh;
    text-align: center;
}
.card{
    background-color: var(--white);
    border-radius: 2.5rem;
    margin-bottom: 10rem;
    margin: 0 auto;
    padding: 1.8rem;
    text-align: center;
    width: 33.5rem;
}
.card .qr_container{
    width: 30rem;
}
.card .qr_container img{
    border-radius: 1.5rem;
    width: 100%;
}
.card .text_container {
    margin-bottom: 1.5rem;
}
.card .text_container .title{
    color: var(--darkblue);
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 2rem;
}
.card .text_container .text{
    color: var(--grayishblue);
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 2rem;
}

.attribution{
    margin-top: 1.5rem;
}

